.App {
  text-align: center;
  background-color: #ffe680;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: top;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: #ffe680;
}

.headd {
  flex-direction: row;
}
.logoo {
  flex-direction: row;
  width: 100px;
  height: 100px;
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 30px;
}

.event {
  color: white;
}

.App-link {
  color: #61dafb;
}

.likha {
  color: yellow;
}

.stand {
  flex-direction: row;
}

.images {
  width: 300px;
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
  object-fit: fill;
  object-position: center;
}

.images-435 {
  width: 435px;
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
  object-fit: fill;
  object-position: center;
}

.images-700 {
  width: 700px;
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
  object-fit: fill;
  object-position: center;
}

@media only screen and (max-width: 890px) {
  .images,
  .images-435,
  .images-700 {
    width: 80%;
    padding-top: 20px;
    padding-bottom: 50px;
    object-fit: fill;
    object-position: center;
  }
}

.moshal {
  width: 75px;
  height: 150px;
  padding-top: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-of-corona {
  font-weight: 700;
  font-size: 2rem;
  color: black;
}
@media only screen and (max-width: 890px) {
  .text-of-corona {
    font-size: 1.2rem;
    color: black;
  }
}

.division {
  fill: rgb(0, 131, 70);
  transition: all 0.5s ease;
}

.division:hover {
  fill: rgb(5, 71, 40);
}

.row-dashboard-world {
  flex-wrap: wrap;
}

.row-dashboard-bd {
  flex-wrap: wrap;
}
