.stats {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border: 1px solid #dee2e6;
}

